sounddevice
scipy
librosa
pyAudioAnalysis
numpy
imbalanced-learn
eyed3
hmmlearn
scikit-learn
matplotlib
transformers
pydub
tqdm
plotly
openai-whisper

soundfile
librosa==0.10.0.post2

torch

python-dotenv


google-cloud-speech
google-cloud-language

